<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   --><!--
  <targets>

    --><!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    --><!--

    --><!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

  <!-- 資料庫連線字串對應 範例 : add name="nLogConnectionString" connectionString="Data Source=140.118.242.211;initial catalog=EducationDB;User id=tshuang;password=qQQ22222;" /-->
  <!--
    <target name="database" xsi:type="Database" keepConnection="false"
        useTransactions="false"
        dbProvider="System.Data.SqlClient"
        connectionStringName="nLogConnectionString"
        commandText="
        insert into dbo.Logs (
        Application, Logged, Level
        , Message
        , Username
        , ServerName, Port, Url
        , Https, ServerAddress, RemoteAddress, Logger
        , CallSite, Exception
        ) values (
        @Application, @Logged, @Level
        , @Message
        , @Username
        , @ServerName, @Port, @Url
        , @Https , @ServerAddress, @RemoteAddress, @Logger
        , @Callsite , @Exception
        )">

      <parameter name="@Application" layout="HomeWork1" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Username" layout="${identity}" />
      <parameter name="@ServerName" layout="${aspnet-request:serverVariable=SERVER_NAME}" />
      <parameter name="@Port" layout="${aspnet-request:serverVariable=SERVER_PORT}" />
      <parameter name="@Url" layout="${aspnet-request:serverVariable=url}" />
      <parameter name="@Https" layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
      <parameter name="@ServerAddress" layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
      <parameter name="@RemoteAddress" layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    -->
  <!-- add your logging rules here --><!--

    --><!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    --><!--
    <logger name="*" minlevel="Debug" writeTo="database" />
  </rules>-->
  
</nlog>
