@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NormalError</title>
</head>
<body>
    <div>
        <h4>NormalError Details:</h4>
        <p>Controller Name: @Model.ControllerName</p>
        <p>Action Name: @Model.ActionName</p>
        @*<p>Exception: @Model.Exception</p>*@
    </div>
</body>
</html>
