
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>顯示 多語系 測試字串 </h2>


@Html.ActionLink("zh", "SetCulture", new { ntustLan = "zh-TW" })

@Html.ActionLink("en", "SetCulture", new { ntustLan = "en-US" })

<div>
    <span>@ViewBag.TestString</span>
    <span>@Resources.Resource.MainMenu</span>
</div>

